<button nz-button nzType="primary" (click)="open()">Ingresar un Nuevo Registro</button>

<nz-table #basicTable [nzData]="listOfPlaylist">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Categoria</th>
      <th>Calificacion</th>
      <th>Seguidores</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.descripcion}}</td>
      <td>{{data.categoria }}</td>
      <td>{{data.calificacion}}</td>
      <td>{{data.seguidores}}</td>
      <td>
        <a (click)="modificar(data)" >Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="Estas seguro de borrar el registro?" [nzIcon]="iconTpl" (nzOnConfirm)="delete(data.id)" (nzOnCancel)="cancel()" nzCancelText="No" nzOkText="Si">
          Borrar
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!--TEMPLATE-->
<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red;"></i>
</ng-template>

<!--Drawer-->
<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="visible"
      nzTitle="Formulario Hardware"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    > 
      <form nz-form *nzDrawerContent (submit)="submitForm()" [formGroup]="form">
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>descripcion</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="descripcion" [nzMin]="1"  [nzStep]="1" placeholder="Ingrese el seguidores"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>categoria</nz-form-label>
              <nz-form-control>
                <input formControlName="categoria" nz-input placeholder="Ingrese el categoria" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>calificacion</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="calificacion" [nzMin]="1"  [nzStep]="1" placeholder="Ingrese el seguidores"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>seguidores</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="seguidores" [nzMin]="1"  [nzStep]="1" placeholder="Ingrese el seguidores"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>reproducciones</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="reproducciones" [nzMin]="1"  [nzStep]="1" placeholder="Ingrese las reproducciones" ></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Cantidad de Canciones</nz-form-label>
              <nz-form-control>
                <nz-input-number formControlName="cantidadCanciones" [nzMin]="1"  [nzStep]="1" placeholder="Ingrese la Cantidad de Canciones" ></nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    

      <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="close()">Cancelar</button>
          <button nz-button nzType="primary" (click)="guardar()">Guardar</button>
        </div>
      </ng-template>
    </nz-drawer>
